bin
obj
.vs
.vscode
.idea
.git
.github
appsettings.Development.json
.env
.env.*
*.user
*.log
Dockerfile*
wwwroot/uploads
private_uploads
tessdata
ffmpeg
gcp-service-account.json
*-service-account.json
